<div class="cbp-l-inline" data-id="<%= @portfolio.id %>">
    <div class="cbp-l-inline-left">
        <% @portfolio.images.limit(2).each do |image| %>
        <a href="<%= image.image_url %>" class="cbp-lightbox">
            <img src="<%= image.image_url %>" alt="Dashboard">
        </a>
        <br>
        <% end %>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title"><%= @portfolio.title %></div>
        <div class="cbp-l-inline-subtitle">by <%= @portfolio.subtitle %> </div>

        <div class="cbp-l-inline-desc"><%= @portfolio.description %> </div>

        <!-- <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a> -->
    </div>
</div>
