<div class="cbp-l-inline" data-id="<%= @portfolio.id %>">
    <div class="cbp-l-inline-left">
        <div class="cbp-slider">
            <ul class="cbp-slider-wrap">
            <li class="cbp-slider-item">
                    <a href="<%= @portfolio.main_image_url %>" class="cbp-lightbox">
                        <img src="<%= @portfolio.main_image_url %>" alt="">
                    </a>
                </li>
             <% @portfolio.images.each do |image| %>
                <li class="cbp-slider-item">
                    <a href="<%= image.image_url %>" class="cbp-lightbox">
                        <img src="<%= image.image_url %>" alt="">
                    </a>
                </li>
                <% end %>
            </div>
        </ul>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title"><%= @portfolio.title %></div>
        <div class="cbp-l-inline-subtitle">by <%= @portfolio.subtitle %> </div>

        <div class="cbp-l-inline-desc"><%= @portfolio.description %> </div>

        <!-- <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a> -->
    </div>
</div>
