<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tailored</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="80">
    <div class="fullwidthbanner" id="home">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <% @intros.each do |intro| %>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="<%= intro.image %>" data-delay="10000"  data-saveperformance="off" data-title="<%= intro.title %>">
                    <!-- MAIN IMAGE -->
                    <img src="<%= intro.image %>"  alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <% if intro === @intros.first %>

                    <div class="tp-caption srcaption-bigwhite lfl ltr slider-title introone"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="0"
                    data-speed="1000"
                    data-start="100"
                    data-easing="easeInOutQuad"
                    data-endspeed="1000"
                    data-endeasing="easeInOutQuad"
                    style="z-index: 2"> <img style="width: 700px; height: 700px; margin-bottom: 10px;" src="https://s3.amazonaws.com/tailored/logo1.png" alt="">

                    <% else %>

                    <div class="tp-caption srcaption-bigwhite lfl ltr slider-title"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="0"
                    data-speed="1000"
                    data-start="100"
                    data-easing="easeInOutQuad"
                    data-endspeed="1000"
                    data-endeasing="easeInOutQuad"
                    style="z-index: 2; margin-bottom: 200px;"> 
                    <h3 class="intro-title"><%= intro.title %></h3> 
                    <% end %>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption srcaption-miniwhite sfb slider-caption"
                data-x="center" data-hoffset="0"
                data-y="bottom" data-voffset="-140"
                data-speed="500"
                data-start="1200"
                data-easing="easeInOutQuad"
                data-endspeed="1000"
                data-endeasing="easeInOutQuad"
                style="z-index: 3;">
                <p class="intro-text"><%= intro.description %></p>
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption srcaption-miniwhite sfb text-light scroll-to slider-arrow-down"
            data-x="center" data-hoffset="0"
            data-y="bottom" data-voffset="-40"
            data-speed="500"
            data-start="1300"
            data-easing="easeInOutQuad"
            data-endspeed="1000"
            data-endeasing="easeInOutQuad"
            style="z-index: 3"><a href="#<%=intro.scroll%>" class="sr-button sr-buttonicon small-iconbutton scroll-to"><i class="ion-ios-arrow-down"></i></a>
        </div>
    </li>
    <% end %>
</ul>
</div>
</div> <!--full width banner-->

<!-- Static navbar -->
<nav class="navbar navbar-inverse sticky-nav navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img style="height: 160px; position: absolute; top: -50px;"src="https://s3.amazonaws.com/tailored/logo2.png" alt="LOGO"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right scroll-to">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                <!--  <span class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true">Pages <i class="caret"></i></span>
                 <ul class="dropdown-menu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                    <li><a href="elements.html">Elements</a></li>
                </ul> -->
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</div><!--/.container -->
</nav>

<!-- PORTFOLIO SECTION -->

<section id="work" class="section-padding wow animated fadeIn" data-wow-delay=".1s">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <h2 class="center-title">Portfolio</h2>
                    <span class="center-border-line"></span>
                    <p class="sub-text">Check out some of our recent work. We respect the privacy of our clients, so we do not post all of our completed projects. If you’re interested in seeing more, <span class="scroll-to"> <a href="#contact" class="scroll-to">let’s connect. </a></span> </p>
                </div>
            </div>
        </div><!--center title row end-->
    </div><!--container-->

    <div class="container">
        <div id="filters-container" class="cbp-l-filters-dropdown">
            <div class="cbp-l-filters-dropdownWrap">
                <div class="cbp-l-filters-dropdownHeader">Sort Gallery</div>
                <div class="cbp-l-filters-dropdownList">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                        All (<div class="cbp-filter-counter"></div> items)
                    </div>
                    <div data-filter=".weddings" class="cbp-filter-item">
                        Weddings (<div class="cbp-filter-counter"></div> items)
                    </div>
                    <div data-filter=".birthdays" class="cbp-filter-item">
                        Birthdays (<div class="cbp-filter-counter"></div> items)
                    </div>
                    <div data-filter=".custom" class="cbp-filter-item">
                        Custom (<div class="cbp-filter-counter"></div> items)
                    </div>
                </div>
            </div>
        </div>

        <div id="grid-container" class="cbp">
            <% @portfolios.each do |portfolio| %>
            <div class="cbp-item <%= portfolio.category %>">
                <a href="<%= portfolio_path(portfolio) %>" class="cbp-caption cbp-singlePageInline"
                    data-title="<%= portfolio.title %> <br>by <%= portfolio.description %>"> 
                    <div class="cbp-caption-defaultWrap">
                        <img src="<%= portfolio.main_image_url(:resize) %>" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><%= portfolio.title %></div>
                                <div class="cbp-l-caption-desc">by <%= portfolio.description %></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <% end %>

        <!-- <div class="cbp-item web-design">
            <a href="assets/ajax/project2.html" class="cbp-caption cbp-singlePageInline"
            data-title="Bolt UI<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Bolt UI</div>
                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item print motion">
        <a href="assets/ajax/project3.html" class="cbp-caption cbp-singlePageInline"
        data-title="WhereTO App<br>by Tiberiu Neamu">
        <div class="cbp-caption-defaultWrap">
            <img src="" alt="">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">WhereTO App</div>
                    <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="cbp-item web-design print">
    <a href="" class="cbp-caption cbp-singlePageInline"
    data-title="iDevices<br>by Tiberiu Neamu">
    <div class="cbp-caption-defaultWrap">
        <img src="" alt="">
    </div>
    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
            <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">iDevices</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
            </div>
        </div>
    </div>
</a>
</div>
<div class="cbp-item motion">
    <a href="" class="cbp-caption cbp-singlePageInline"
    data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
    <div class="cbp-caption-defaultWrap">
        <img src="" alt="">
    </div>
    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
            <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
            </div>
        </div>
    </div>
</a>
</div>
<div class="cbp-item print motion">
    <a href="assets/ajax/project6.html" class="cbp-caption cbp-singlePageInline"
    data-title="Remind~Me Widget<br>by Tiberiu Neamu">
    <div class="cbp-caption-defaultWrap">
        <img src="" alt="">
    </div>
    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
            <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Remind~Me Widget</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
            </div>
        </div>
    </div>
</a>
</div>
<div class="cbp-item web-design print">
    <a href="assets/ajax/project7.html" class="cbp-caption cbp-singlePageInline"
    data-title="Workout Buddy<br>by Tiberiu Neamu">
    <div class="cbp-caption-defaultWrap">
        <img src="" alt="">
    </div>
    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
            <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Workout Buddy</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
            </div>
        </div>
    </div>
</a>
</div>
<div class="cbp-item print">
    <a href="" class="cbp-caption cbp-singlePageInline"
    data-title="Digital Menu<br>by Cosmin Capitanu">
    <div class="cbp-caption-defaultWrap">
        <img src="" alt="">
    </div>
    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
            <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Digital Menu</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
            </div>
        </div>
    </div>
</a>
</div>
<div class="cbp-item motion">
    <a href="" class="cbp-caption cbp-singlePageInline"
    data-title="Holiday Selector<br>by Cosmin Capitanu">
    <div class="cbp-caption-defaultWrap">
        <img src="" alt="">
    </div>
    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
            <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Holiday Selector</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
            </div>
        </div>
    </div>
</a>
</div> -->
</div>

<div id="loadMore-container" class="cbp-l-loadMore-button">
    <a href="<%= portfolios_path %>" class="cbp-l-loadMore-link">
        <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
        <span class="cbp-l-loadMore-loadingText">LOADING...</span>
        <span class="cbp-l-loadMore-noMoreLoading">No more events</span>
    </a>
</div>

</div><!--container-->
</section><!--portfolio section end here-->

<!-- NEWSLETTER Section -->

<div class="newsletter">
    <div class="container">
        <div class="text-center">
            <h2 class="center-title">Newsletter</h2>
            <span class="center-border-line"></span>
            <p class="sub-text" style="text-align: center;"> Subscribe to get our latest updates.</p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <%= form_for User.new, remote: true do |f| %>
                <form role="form" class="form-subscribe">
                    <%= f.text_field :email, class: "form-control", placeholder: "Enter your email" %>
                    <%= f.submit 'Subscribe', class: "btn btn-lg btn-block btn-dark-bg" %>
                </form>
                <% end %>
                <div class="subscribe-errors"></div>
            </div>
        </div>
    </div>
</div><!--newsletter end-->

<section id="about" class="section-padding">
    <div class="container">
        <% @abouts.each do |about| %>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <h2 class="center-title"> <%= about.title %></h2>
                    <span class="center-border-line"></span>
                    <p class="sub-text" style="text-align: center;"><%= about.subtitle %></p>
                </div>
            </div>
        </div><!--left title row end-->
        <div class="row">
            <div class="col-sm-8 text-center col-sm-offset-2">
                <p class="lead subtitle-center wow animated fadeIn" style="text-align: justify;" data-wow-delay=".1s">
                    <%#= about.description %>
                    Established in 2012, we started planning and designing intimate events and celebrations for close friends and families who saw our vision and passion in event management and design. We executed some amazing and memorable events that helped Tailor’d team grow to create stylish, elegant, glamorous and fun celebrations.
                    <br>
                    <br>
                    Whether you are a bride-to-be or planning on hosting a special event, Tailor’d specializes in planning and styling significant events customized to reflect your distinctive style. We strive to bring your inspirations and visions then infuse them into your special day. From engagements, to wedding receptions, to grand celebrations, our team produces unique and surprising events that will take your breath away.
                </p>
            </div>
        </div><!--sub title center-->
        <% end %>

       <!-- <div class="row">
            <div class="col-sm-4 margin-bottom30">
                <div class="service-features wow animated fadeIn" data-wow-delay=".2s">
                    <i class="ion-ios-lightbulb-outline"></i>
                    <h3>Wedding & Engagement</h3>
                    <p>
                        Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus.
                    </p>
                </div> --><!--service features-->
                <!-- </div> -->
            <!-- <div class="col-sm-4 margin-bottom30">
                <div class="service-features wow animated fadeIn" data-wow-delay=".3s">
                    <i class="ion-ios-people-outline"></i>
                    <h3>Social Events & Parties</h3>
                    <p>
                        Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus.
                    </p>
                </div> --><!--service features-->
                <!-- </div> -->
            <!-- <div class="col-sm-4 margin-bottom30">
                <div class="service-features wow animated fadeIn" data-wow-delay=".4s">
                    <i class="ion-ios-color-wand-outline"></i>
                    <h3>Retail Decor</h3>
                    <p>
                        Pellentesquemattis arcu malesuada in. Donec urna sem, rutrum sit amet pellentesque vel, suscipit at metus.
                    </p>
                </div> --><!--service features-->
                <!-- </div> -->
                <!-- </div> --> <!--row-->


            </div><!--container-->
        </section><!--about section end-->

        <div class="team">
            <div class="container">
                <% @teams.each do |team| %>
                <div class="text-center wow animated bounceIn" data-wow-delay=".1s">
                    <h2 class="center-title"> <span class="colored-text"><%= team.title %></h2>
                    <span class="center-border-line"></span>
                    <p class="sub-text" style="text-align: center;"><%= team.subtitle %></p>
                </div>
                <div class="col-sm-8 col-sm-offset-2 ms-info text-center" style ="margin-bottom: 100px;">
                    <img style="width: 300px; height: auto; margin-bottom: 30px;" src="<%= team.image %>" alt="">
                    <h3><%= team.name %></h3>
                    <!-- <h4><%#= team.position %></h4> -->
                    <!-- <p class="email">E-Mail: <a href="#"><%#= team.email %></a></p> -->
                    <p style="font-size: 18px; line-height: 35px; text-align: justify;"><%#= team.description %>
                        Based in Cairo, Egypt, Nermin started her career in the field of Advertising where she gained a lot of experience working with creative mindsets and different sorts of clienteles. Four years later, she ventured into event planning and styling, where she was able to use and apply her skills by creating custom designs and parties for her clients. She has always been keen to learn and gain new skills; so she traveled to England and acquired an intensive floristry design certificate at McQueens Flower School in London.
                        <br>
                        <br>
                        Today, Nermin and her amazing team are best known for their creative designs, unexpected décor accents and exquisite attention to every detail. Nermin’s gleeful personality and calm attitude help put her clients at ease while she creates customized parties of their dreams. No matter the number of guests, Nermin, and her team creates stylish, one-of-a-kind personalized and unforgettable events.
                    </p>
            <!-- <ul class="ms-socials list-inline">
                <li class="ms-ico-fb"><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li class="ico-tw"><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li class="ico-gp"><a href="#"><i class="ion-social-youtube"></i></a></li>
                <li class="ico-yt"><a href="#"><i class="ion-social-linkedin"></i></a></li>
            </ul> -->
        </div>
    </div>
    <% end %>
</div><!--team section end-->

<div class="twitter-feed parallax-4">

</div><!--twitter feeds-->

<section id="services" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="text-center wow animated flipInX" data-wow-delay=".1s">
                    <h2 class="center-title">Our Services</h2>
                    <span class="center-border-line"></span>
                    <p class="sub-text" style="text-align: center;">What we do?</p>
                    <p style="font-size: 18px; line-height: 35px; text-align: justify;">
                        <strong>Tailor’d</strong> is a boutique full-service Event and Wedding Coordination company based in Egypt. By recognizing your unique taste and needs, we offer custom tailored services and packages that include full coordination from the beginning to end, day-of coordination, and decoration for your event. We dedicate extraordinary attention to detail to realize your vision for life’s biggest moments. Let us take care of all the logistics while you enjoy the journey.
                        <br>
                        <br>
                        Weddings + Engagements + Showers + Birthdays + Corporate + Bachelorettes + More
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!--center title row end-->

        <div class="row">
            <div class="col-sm-4 margin-bottom30">
                <div class="services-box wow animated fadeIn" data-wow-delay="0.2s">
                    <h3 class="services-title">FULL-SERVICE EVENT PLANNING</h3>
                    <!-- <i class="ion-easel icon-big-round"></i> -->
                    <p>
                        After understanding your inspirations, ideas, and personal style, we implement everything through décor concept, design elements, lighting, entertainment, event production and more. We ensure your special occasion will be nothing less than unique, distinct and "tailor'd" to you, by fulfilling all your whimsical visions.
                    </p>
                    <h4>What we offer</h4>
                    <ul class=" list-unstyled">
                        <li>Professional consultation during the planning process</li>
                        <li>Manage all communications with vendors & venues</li>
                        <li>Coordinate with all vendors on wedding day</li>
                        <li>Manage vendors' timelines for wedding day</li>
                        <li>Full execution of venue décor and set up</li>
                        <li>Assist with customized wedding budgets</li>
                        <li>Event-site plan / design layout</li>
                        <li>Create wedding plan timeline</li>
                        <li>Handle all vendor proposals</li>
                    </ul>
                </div><!--service box -->
            </div><!--col-->
            <div class="col-sm-4 margin-bottom30">
                <div class="services-box wow animated fadeIn" data-wow-delay="0.4s">
                    <h3 class="services-title">Event Décor & Design</h3>
                    <!-- <i class="ion-ios-flower icon-big-round"></i> -->
                    <p>
                        We conceptualize custom designs for events such as social, corporate, parties, weddings and more. We will be assisting you with an overall design of your event, which will be a reflection of your style and personality. We take your vision to the next level by executing every detail surrounding your special occasion.
                    </p>
                    <h4>What we offer</h4>
                    <ul class="list-unstyled">
                        <li>Assist in creation of event invitations and branding</li>
                        <li>Floor plan with table number assignment</li>
                        <li>Furniture designs and table settings</li>
                        <li>Overall event design</li>
                        <li>Floral arrangements</li>
                        <li>Décor budgeting</li>
                        <li>Event Lighting</li>
                        <li>.</li>
                        <li>.</li>
                    </ul>
                </div><!--service box-->
            </div><!--col-->
            <div class="col-sm-4 margin-bottom30">
                <div class="services-box wow animated fadeIn" data-wow-delay="0.6s">
                    <h3 class="services-title">DAY-OF-EVENT</h3>
                    <!-- <i class="ion-ios-gear-outline icon-big-round"></i> -->
                    <p>
                        You have done all the planning; now let us help you finalize the details so you can enjoy your special day. With our expertise and knowledge, we will handle and execute all the details and logistics on the day of your event, by coordinating and managing all the vendors & parties involved during your planning process.
                    </p>
                    <h4>What we offer</h4>
                    <ul class=" list-unstyled">
                        <li>Ensure all vendors understand their role for the day</li>
                        <li>Commence coordination one week before event</li>
                        <li>Manage vendors' timelines for wedding day</li>
                        <li>Full execution of venue décor and set up</li>
                        <li>Review event details at wedding venue</li>
                        <li>Check in on all vendors upon arrival</li>
                        <li>Event-site plan / design layout</li>
                        <li>Review all vendor contracts</li>
                        <li>.</li>

                    </ul>
                </div><!--service box-->
            </div><!--col-->
        </div>
    </div>
</section><!--services section end here-->

<!-- TESTIMONIAL SECTION -->

<div class="testimonials parallax-2 dark">

    <div class="container">
        <div class="text-center wow animated fadeInDown" data-wow-delay=".1s">
            <h2 class="center-title"> <span class="colored-text">Happy </span> Clients</h2>
            <span class="center-border-line"></span>
            <!-- <p class="sub-text">Over 8000 extremely satisfied clients!</p> -->
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="flexslider testi-slider wow animated fadeInUp" data-wow-delay=".2s">
                    <ul class="slides">
                        <% @testimonials.each do |testimony| %>
                        <li>
                            <div class="testi-slider-item">
                                <p>
                                    <%= testimony.testimonial %>
                                </p>
                                <img src="<%= testimony.image_url(:thumb)%>" alt="">
                                <h6><%= testimony.name %> - <span class="colored-text"><%= testimony.company %></span></h6>
                            </div>
                        </li><!--Single slide li-->
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--testimonials-->



<!-- <div class="pricing-section section-padding">
    <div class="container">
        <div class="text-center">
            <h2 class="center-title"> <span class="colored-text">Price </span> Plans</h2>
            <span class="center-border-line"></span>
            <p class="sub-text">Choose a best plan for you.</p>
        </div>
        <div class="cd-pricing-container cd-has-margins">

            <div class="cd-pricing-switcher">
                <p class="fieldset">
                    <input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
                    <label for="monthly-2">Monthly</label>
                    <input type="radio" name="duration-2" value="yearly" id="yearly-2">
                    <label for="yearly-2">Yearly</label>
                    <span class="cd-switch"></span>
                </p>
            </div>

            <ul class="cd-pricing-list cd-bounce-invert">
                <li>
                    <ul class="cd-pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="cd-pricing-header">
                                <h2>Basic</h2>
                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">20</span>
                                    <span class="cd-duration">mo</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>10GB Storage</li>
                                    <li>1GB Bandwidth</li>
                                    <li>512 Memory</li>
                                    <li>10 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="#">Purchase Now</a>
                            </footer>
                        </li>

                        <li data-type="yearly" class="is-hidden">
                            <header class="cd-pricing-header">
                                <h2>Basic</h2>

                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">200</span>
                                    <span class="cd-duration">yr</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>100GB Storage</li>
                                    <li>50GB Bandwidth</li>
                                    <li>5GB Memory</li>
                                    <li>50 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="#">Purchase Now</a>
                            </footer>
                        </li>
                    </ul>
                </li>

                <li class="cd-popular">
                    <ul class="cd-pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="cd-pricing-header">
                                <h2>Popular</h2>
                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">40</span>
                                    <span class="cd-duration">mo</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>20GB Storage</li>
                                    <li>2GB Bandwidth</li>
                                    <li>1GB Memory</li>
                                    <li>20 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select cd-btn" href="#">Purchase Now</a>
                            </footer>
                        </li>

                        <li data-type="yearly" class="is-hidden">
                            <header class="cd-pricing-header">
                                <h2>Popular</h2>

                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">400</span>
                                    <span class="cd-duration">yr</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>200GB Storage</li>
                                    <li>100GB Bandwidth</li>
                                    <li>10GB Memory</li>
                                    <li>100 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select cd-btn" href="#">Purchase Now</a>
                            </footer>
                        </li>
                    </ul>
                </li>

                <li>
                    <ul class="cd-pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="cd-pricing-header">
                                <h2>Premier</h2>

                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">80</span>
                                    <span class="cd-duration">mo</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>40GB Storage</li>
                                    <li>5GB Bandwidth</li>
                                    <li>5GB Memory</li>
                                    <li>50 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="#">Purchase Now</a>
                            </footer>
                        </li>

                        <li data-type="yearly" class="is-hidden">
                            <header class="cd-pricing-header">
                                <h2>Premier</h2>
                                <div class="cd-price">
                                    <span class="cd-currency">$</span>
                                    <span class="cd-value">600</span>
                                    <span class="cd-duration">yr</span>
                                </div>
                            </header>

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li>24/7 Tech Support</li>
                                    <li>Advanced Option</li>
                                    <li>500GB Storage</li>
                                    <li>200GB Bandwidth</li>
                                    <li>40GB Memory</li>
                                    <li>300 Free Domain</li>
                                </ul>
                            </div>

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="#">Purchase Now</a>
                            </footer>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div> --><!--price section end here-->

<!-- <div class="gray-cta">

</div> --><!--gray cta-->


<!-- <div class="call-to-action cta-1 parallax-3">

</div> call to action-->

<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-offset-2">
                <div class="text-center">
                    <h2 class="center-title">Contact Us</h2>
                    <span class="center-border-line"></span>
                    <p class="sub-text"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="contact-form wow animated fadeInLeft" data-wow-delay=".2s">
                    <%= form_tag contacts_path, remote: :true do %>
                    <form role="form" id="feedbackForm">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label" for="name">Name *</label>
                                    <div>
                                        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter your name" %>
                                    </div>
                                    <span class="help-block" style="display: none;">Please enter your name.</span>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label" for="email">Email Address *</label>
                                    <div>
                                        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter your email" %>
                                    </div>
                                    <span class="help-block" style="display: none;">Please enter a valid e-mail address.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label" for="email">How did you hear about us?</label>
                                    <div>
                                        <%= text_field_tag :hear, nil, class: "form-control" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label" for="email">Can we publish your wedding images on our social media?</label>
                                    <div>
                                        <%= radio_button_tag :can_publish,  "yes" %> Yes
                                        <%= radio_button_tag :can_publish, 'no' %> No
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label" for="email">Where will your wedding be held? (if decided)</label>
                                    <div>
                                        <%= text_field_tag :held, nil, class: "form-control" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="message">Message *</label>
                            <div>
                                <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter your message", rows: "5", cols: "30" %>
                            </div>
                            <span class="help-block" style="display: none;">Please enter a message.</span>
                        </div>
                        <%= submit_tag(value='Send Feedback', class: "btn btn-dark-bg btn-lg") %>
                    </form>
                    <div class="errors"></div>
                    <% end %>
                </div><!--contact form-->
            </div><!--col-7-->
            <div class="col-sm-5">
                <h4>Leave a message</h4>
                <p>
                    Do you have a question? Want to book with us? Just want to say hi? Please fill out the form.<br>
                    Or contact us directly: <br>
                    Phone: +201272377238, +201207329333
                </p>
                <br>
                <br>
                <div id="map" style="height: 250px;"></div>
            </div>
        </div><!--row-->
    </div><!--container-->
</section><!--contact section end-->

<div class="numbers-cta parallax-2 dark">
    <div class="container">
        <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
            <a class="phone" href="tel:002.0120.732.9333">
                <i class="ion-android-call"></i>
                <h3>002.0120.732.9333</h3>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
            <a class="phone" href="tel:002.0127.237.7238">
                <i class="ion-android-call"></i>
                <h3>002.0127.237.7238</h3>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
            <a href="mailto:info@tailoredevents.com">
                <i class="ion-email"></i>
                <h3>info@tailordevents.com</h3>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
            <i class="ion-location"></i>
            <h3>35B, Mohamed Mazhar Street, Cairo, Egypt</h3>
        </div>
        <!-- <div class="col-sm-6 col-md-3 margin-bottom30 text-center">
            <i class="ion-ios-printer"></i>
            <h3>002.0127.237.7238</h3>
        </div> -->
    </div>
</div>


<footer class="footer">
    <div class="container text-center">
        <a href="#"><img src="" alt=""></a>
        <ul class="list-inline socials">
            <li><a href="https://www.facebook.com/tailordevents" class="fb" target="_blank"> <img src="https://s3.amazonaws.com/tailored/facebook.png" alt=""> </a></li>
            <li><a href="https://twitter.com/tailordevents" class="twit"  target="_blank"> <img src="https://s3.amazonaws.com/tailored/twitter.png" alt=""> </a></li>
            <li><a href="https://www.instagram.com/tailordevents/" class="insta" target="_blank"><img src="https://s3.amazonaws.com/tailored/instagram.png" alt=""></a></li>
            <li><a href="https://www.pinterest.com/tailordevents" class="pinterest" target="_blank"><img src="https://s3.amazonaws.com/tailored/pinterest.png" alt=""></a></li>
        </ul>
        <!-- <p>&copy; 2015. Made with <i class="ion-ios-heart-outline"></i> by Design_mylife</p> -->
    </div>
</footer><!--footer end-->

</body>
<%= javascript_include_tag 'application' %>
</html>
